body {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background-image: url("/NEWNesco/my_app/static/my_app/Webm\ to\ MP4\ conversion.mp4");
    background-repeat: no-repeat;
    background-size: cover;
}

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover;
}

#video-background video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

#welcometext {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 35px;
    font-weight: bold;
    color: #C2B280;
}

#welcometext2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #C2B280;
}

#logintext {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 28px;
    font-weight: bold;
    color: #C2B280;
}

form input[type="text"] { 

}

form input[type="password"]  {

}

form label {

}

form button[type="submit"] {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input[type="text"], form input[type="password"] {
    width: 90%; /* Adjust as needed */
    /* Other styles... */
}