body {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background-color: #F4E4BA;
}

#Welcome {
    font-size: 96px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 18%;
}

#to {
    font-size: 48px;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 65%;
}

#NEWNesco {
    font-size: 96px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 30%;
}

#NEWNescoDescription {
    font-size: 40px;
    font-weight: 325;
    padding-top: 1%;
    padding-left: 45%;
    width: 400px;
}

#Enter {
    font-size: 24px;
    color: green;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 93%;
    animation: smoothBlink 1.5s linear infinite;
}

@keyframes smoothBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#Villa {
    border-radius: 30px;
}