body {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    background-color: #F4E4BA;
}

#Welcome {
    font-size: 96px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 18%;
}

#to {
    font-size: 48px;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 65%;
}

#NEWNesco {
    font-size: 96px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 30%;
    position: relative;
    display: inline-block;
}
  
    .tooltip {
    visibility: hidden;
    width: 500px;
    font-size: large;
    font-weight: normal;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;

    opacity: 0;
    transition: opacity 0.3s;
    }
  
  #NEWNesco:hover .tooltip {
    visibility: visible;
    opacity: 0.7;
  }

#NEWNescoDescription {
    font-size: 40px;
    font-weight: 325;
    padding-left: 40%;
    width: 398px;
}

#Enter {
    font-size: 24px;
    color: black;
    margin-top: -70px;
    font-weight: bold;
    padding-left: 93%;
    animation: smoothBlink 1.5s linear infinite;
}

@keyframes smoothBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.villa-image, .piza-image, .mountain-image {
    animation: fadeIn 1s ease-in-out 1;
    animation-fill-mode: forwards;
}


.villa-image {
    position: absolute; 
    margin-top: 10%;
    margin-left: 73%;
    top: 0; 
    height: 400px;
    width: 700px;
    border-radius: 10px;
    z-index: 1; 
}

.piza-image {
    position: absolute; 
    margin-top: 10%;
    margin-left: 5%;
    top: 0; 
    height: 800px;
    width: 500px;
    border-radius: 10px;
    z-index: -1; 
}

.mountain-image {
    position: absolute; 
    margin-top: 47%;
    margin-left: 58%;
    top: 0; 
    height: 300px;
    width: 500px;
    border-radius: 10px;
    z-index: -1; 
}

#hiddenDescription {
    display: none;
}