{% extends "base_generic.html" %}

{% load static %}

{% block head %}
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'my_app/login.css' %}">
{% endblock %}

{% block content %}
  <div id="video-background">
    <video autoplay muted loop id="video-background">
      <source src="{% static 'my_app/loginbackgroundfootage.mp4' %}" type="video/mp4">
  </video>
  </div>
  <div id = "welcometext">
  <h1>Welcome to NEWNesco</h1>
  </div>
  <div id = "welcometext2">
  <h2> A simpler way to learn about UNESCO sites</h2>
  </div>
  <div id = "logintext">
    <h2>Login</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
{% endblock %}